/* You can add global styles to this file, and also import other style files */
.loading-spinner {
  margin-top: 45vh;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* Page Titles */

.mat-typography h3 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 1.8rem;
  color:#222;
  letter-spacing:1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.mat-typography h3 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
.mat-typography h3 em {
  font-style: normal;
  font-weight: 600;
}

.mat-typography h3:after {
  content: " ";
  display: block;
  border-bottom: 1px solid #893f2d;
  border-top: 1px solid #893f2d;
  height: 5px;
  width: 20%;
  background-color:#f8f8f8;
  margin-right: auto;
}

.mat-typography h3:before {
  margin-left: auto;
  content: " ";
  display: block;
  border-bottom: 1px solid #893f2d;
  border-top: 1px solid #893f2d;
  height: 5px;
  width: 20%;
  background-color:#f8f8f8;
}

.mat-typography h4 {
  margin: 0.4em 0;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  color: #1E1E1E;
  text-align: center;
  overflow: hidden;
}

.mat-typography h5 {
  position: relative;
  margin: 0 0 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #080808;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 3px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.mat-typography h5:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #893f2d;;
}
.mat-typography h5:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #893f2d;;
}

span {
  display: inline-block;
  position: relative;
}

span.no-selection:before {
  content: "";
  right: 100%;
  border-bottom: 2px solid #1E1E1E;
;
  width: 3em;
  margin: 0 1.5em;
  position: absolute;
  bottom: .5em;
}

span.no-selection:after {
  content: "";
  left: 100%;
  border-bottom: 2px solid #1E1E1E;
;
  width: 3em;
  margin: 0 1.5em;
  position: absolute;
  bottom: .5em;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #f0f0f0, #1E1E1E, #1E1E1E, #f0f0f0);
}

/* Disabled button styles */
.button.disabled {
  border-color: #a9adad !important;
}

.button.disabled button {
  color: #a9adad !important;
}

.button.disabled:hover button {
  color: #a9adad !important;
}

.button.disabled:hover .circle {
  opacity: 0 !important;
}

/* General Button Styles */
button {
  width: inherit;
  height: inherit;
  border: none;
  overflow: hidden;
  outline: none;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
}

button:focus {
  outline: none;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  margin: 20px 20px 20px 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.button button {
  position: relative;
  transition: all .45s ease-Out;
}

.circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

.button:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

/* Success Button */
.button.success {
  border: 2px solid #57B846;
}

.button.success button {
  color: #57B846;
}

.button.success:hover button {
  color: #ffffff;
}

.button.success>.circle {
  background: #57B846;
}

/* Danger Button */
.button.danger {
  border: 2px solid #F8727D;
  width: 150px;
}

.button.danger button {
  color: #F8727D;
}

.button.danger:hover button {
  color: #ffffff;
}

.button.danger>.circle {
  background: #F8727D;
}

/* Info Button */
.button.info {
  border: 2px solid #C5AA6A;
  width: 110px;
}

.button.info button {
  color: #C5AA6A;
}

.button.info:hover button {
  color: #ffffff;
}

.button.info>.circle {
  background: #C5AA6A;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Back to top button */

ng-go-top-button > button {
  display: inline-block;
  background-color: #4C3C3C;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 30px;
  border-width: 0;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 1;
  z-index: 1000;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  -webkit-box-shadow: 0 8px 11px 6px rgba(0,0,0,0.42);
  box-shadow: 0 8px 11px 6px rgba(0,0,0,0.42);
}

ng-go-top-button > button:focus {
  outline: none;
}

ng-go-top-button > button::after {
  font-family: FontAwesome, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

ng-go-top-button > button:hover {
  cursor: pointer;
  background-color: #BFA567;
}

ng-go-top-button > button:active {
  background-color: #BFA567;
}

ng-go-top-button > button.show {
  opacity: 1;
  visibility: visible;
}

#faAngleUp {
  color: white;
  font-size: 1.8em;
  transition: font-size .3s;
}

ng-go-top-button:hover > #faAngleUp {
  top: -10px;
  font-size: 2.5em;
}

@media(max-width: 1024px) and (max-height: 1366px) {
  ng-go-top-button {
    right: 50px;
    bottom: 20px;
  }
}

@media(max-width: 411px) and (max-height: 823px) {
  ng-go-top-button {
    right: 30px;
    bottom: 16px;
  }
}

@media(max-width: 414px) and (max-height: 736px) {
  ng-go-top-button {
    right: 30px;
    bottom: 20px;
  }
}

@media(max-width: 375px) and (max-height: 667px) {
  ng-go-top-button {
    right: 25px;
    bottom: 25px;
  }
}
